body {
  width:100%;
  height:100%;
  background:#E0D7B8 url(crust.png) repeat;
  font-family: 'Inder', sans-serif;
  border-top:5px solid #3D0B40;
  margin:0px;
  padding:0px;
}
.container {
  width:600px;
  margin:20px auto;
}
h1 {
  /* Pizza Friday */
  font-family: 'Caesar Dressing', cursive;
  font-size:80px;
  color:#c54f42;
  margin-bottom:20px;
}
h3 {
  /* Your Review */
  font-size:20px;
  color:#c54f42;
  margin-top:5px;
  margin-bottom:5px;
}
.post {
  border-top:5px solid #8FB689;
  margin-bottom:20px;
}
.pizza {
  width:100%;
  min-height:300px;
  background-size: contain;
  background-size: 100%;
  background-repeat:no-repeat;
  position: relative;
}
.details-box {
  position: absolute;
  width:130px;
  bottom: 0;
  background-color: #131313;
  padding:10px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.details-box p {
  font-size:14px;
  color:#ccc;
  margin:0px;
  text-align:center;
}

.avg {
  height:30px;
  background-repeat: no-repeat;
  background-image:url(eggplants.png);
  margin-top:5px;
  margin-right:0px;
  margin-bottom:10px;
}
.eggplants {
  text-align:center;
  width: 320px;
  margin: auto;
  padding-top:10px;
}
.eggplants span {
  width:64px;
  height:64px;
  background-image: url(eggplant.png);
  background-position: -64px 0px;
  background-repeat: no-repeat;
  float:left;
  cursor:pointer;
}
.eggplants span.active {
  background-position: 0px 0px;
}
.ingredients {
  text-align:center;
  color:#3D0B40;
  padding-top:10px;
  line-height:2.5em;
}
.ingredients span {
  background-color:#8FB689;
  padding:5px 10px;
  border-radius:10px;
  cursor:pointer;
}
.ingredients span:hover {
  background-color:#3D0B40;
  color:#8FB689;
}
.ingredients span.active{
  background-color:#3D0B40;
  color:#8FB689;
}
.filter {
  border:5px solid #c54f42;
  margin-bottom:30px;
  padding-bottom:10px;
}
.clear {
  clear:both;
}
@media(max-width:600px){
  h1 {
    font-size:45px;
  }
  .container {
    width:90%;
  }
  .eggplants {
    width: 240px;
  }
  .eggplants span {
    width:48px;
    height:48px;
    background-image: url(small_eggplant.png);
    background-position: -48px 0px;
  }
  .pizza {
    min-height:160px;
  }
}